@model ChuTrai

<h2>Thông tin người dùng</h2>

<table>
    <tr>
        <th>Tên chủ trại:</th>
        <td>@Model.TenChuTrai</td>
    </tr>
    <tr>
        <th>Giới tính:</th>
        <td>@Model.GioiTinh</td>
    </tr>
    <tr>
        <th>CCCD:</th>
        <td>@Model.CCCD</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Địa chỉ:</th>
        <td>@Model.DiaChi</td>
    </tr>
    <tr>
        <th>Số điện thoại:</th>
        <td>@Model.SDT</td>
    </tr>
</table>
