@model Happy_Meat_Farm.Models.TTBModel

@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin trang thiết Bị</h1>

<dl class="row">
    <dt class="col-sm-2">
        ID:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model._id)
    </dd>
    <dt class="col-sm-2">
        Tên trang thiết bị:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TenTrangThietBi)
    </dd>
    <dt class="col-sm-2">
        Loại trang thiết bị:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LoaiTrangThietBi)
    </dd>
    <dt class="col-sm-2">
        Kích thước: 
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.KichThuoc)
    </dd>
    <dt class="col-sm-2">
        Chất liệu:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ChatLieu)
    </dd>
    <dt class="col-sm-2">
        Ngày sản xuất: 
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NSX)
    </dd>
    <dt class="col-sm-2">
        Hạn sử dụng: 
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HanDung)
    </dd>
    <dt class="col-sm-2">
        Đơn giá: 
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DonGia)
    </dd>
    <dt class="col-sm-2">
        Thuộc chuồng: 
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model._idBayDan)
    </dd>
</dl>
<div>
    <button class="btn btn-primary">
        <a class="text-white" asp-action="Index">Trở về</a>
    </button>
</div>
