@model IEnumerable<Happy_Meat_Farm.Models.BayDan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; color: gray;">Danh sách bầy đàn</h1>
<style>
    body {
        background-image: none;
        background-size: cover;
        background-position: center;
    }

    .custom-button {
        background-color: #800000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        margin-right: 10px;
    }

    .confirm-msg {
        color: red;
    }

    .table {
        background-color: #fff;
        color: #000;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .table th, .table td {
        border: 1px solid #000;
        padding: 5px;
    }

    .table th {
        background-color: #DEB887;
        line-height: 1.5;
    }

    .table td {
        background-color: #fff;
    }
    .highlight {
        border: none;
        background-color: #FAF0E6;
        color: black;
        padding: 2px 4px;
        border-radius: 20px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    }
</style>
<p>
    <a asp-action="Create" class="btn btn-primary" style="background-color: #800000; color: white; border: 1px solid #800000; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);">Thêm chuồng nuôi</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th style="width:180px"> Số chuồng </th>
            <th style="width:280px"> Diện tích  </th>
            <th style="width:280px"> Tuỳ chọn  </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Chuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichThuoc)
            </td>
            <td>
           
                <button class="highlight" onclick="location.href='@Url.Action("Edit", new { Name = item._id })'">Sửa</button>

                <button class="highlight" onclick="location.href='@Url.Action("Details", new { Name = item._id })'">Chi tiết bầy</button>

                <button class="highlight" onclick="location.href='@Url.Action("Inf", new { Name = item.Chuong })'">Các cá thể</button>

            </td>
        </tr>
}
    </tbody>
</table>
