@model IEnumerable<Happy_Meat_Farm.Models.BayDan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách bầy đàn</h1>

<p>
    <a asp-action="Create">Thêm đàn</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th style="width:180px"> Số chuồng </th>
            <th style="width:280px"> Số cá thể  </th>
            <th style="width:280px"> Tuỳ chọn  </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Chuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chuong)
            </td>
            <td>
           
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { Name = item._id })'">Sửa</button>

                <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", new { Name = item._id })'">Chi tiết bầy</button>

                <button class="btn btn-primary" onclick="location.href='@Url.Action("Inf", new { Name = item.Chuong })'">Chi tiết cá thể</button>

            </td>
        </tr>
}
    </tbody>
</table>
