@model IEnumerable<Happy_Meat_Farm.Models.CaThe>

@{
    ViewData["Title"] = "Inf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách cá thể </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width:180px"> Mã Cá Thể  </th>
            <th style="width:180px">Đặc Điểm </th>
            <th style="width:180px"> Ngày Tuổi  </th>
            
            <th style="width:380px"> Tuỳ chọn  </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DacDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTuoi)
            </td>
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Chuong)
            </td>*@
        <td>
            <a class="btn btn-primary" href="@Url.Action("Edit", new { /* id=item.PrimaryKey */ })">Sửa</a>

            <a class="btn btn-primary" href="@Url.Action("Details", new { /* id=item.PrimaryKey */ })">Chi tiết</a>

            <a class="btn btn-danger" href="@Url.Action("Delete", new { /* id=item.PrimaryKey */ })" onclick="return confirm('Xoá đối tượng này khỏi bầy đàn?')">Chết</a>
        </td>
        </tr>
}
    </tbody>
</table>
