@{
    ViewData["Title"] = "Công việc";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}
<style>
    body {
        background-image: none;
        background-color: #EEEEEE;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /*        border: 1px solid #ccc;*/
        border-radius: 10px; /* Thêm border-radius để bo góc bảng */
        transition: box-shadow 0.3s ease;
    }

        table:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng khi di chuột vào */
        }
    th {
        background-color: #f8f8f8;
        color: #333;
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e0e0e0;
    }

    .custom-button {
        background-color: #800000;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        margin-right: 10px;
    }

    .confirm-msg {
        color: red;
    }

    .highlight {
        border: none;
        background-color: #FAF0E6;
        color: black;
        padding: 2px 4px;
        border-radius: 20px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    }

    .highlight-phoi {
        background-color: #FFE4B5;
    }

    .btn-custom {
        background-color: #FF9999;
        border: 1px solid #ccc;
        /* Viền màu xám */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        /* Bóng */
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 20px;
    }

    h4 {
        margin-top: 10px;
    }

    .dotTiem {
        background-color: #f9f9f9;
        padding: 10px;
        margin-top: 10px;
    }
</style>

<h2 style="text-align: center;">Lịch tiêm chủng</h2>

<p>Số lượng cá thể cần tiêm chủng: @ViewBag.SoLuongCaTheCanTiemChung</p>

@if (Model.Count > 0)
{
    Dictionary<string, Dictionary<string, List<(CaThe, string, DateTime)>>> groups = new Dictionary<string, Dictionary<string, List<(CaThe, string, DateTime)>>>();

    foreach (var item in Model)
    {
        CaThe caThe = item.Item1;
        string tenDotTiem = item.Item2;
        int ngayTuoiTiemValue = item.Item3; // Thay đổi kiểu dữ liệu từ DateTime sang int
        DateTime ngayTuoiTiem = new DateTime(ngayTuoiTiemValue); // Tạo đối tượng DateTime từ giá trị int

        if (!groups.ContainsKey(caThe.Chuong))
        {
            groups[caThe.Chuong] = new Dictionary<string, List<(CaThe, string, DateTime)>>();
        }

        if (!groups[caThe.Chuong].ContainsKey(tenDotTiem))
        {
            groups[caThe.Chuong][tenDotTiem] = new List<(CaThe, string, DateTime)>();
        }

        groups[caThe.Chuong][tenDotTiem].Add((caThe, tenDotTiem, ngayTuoiTiem));
    }

    foreach (var chuong in groups)
    {
        <h3>Chuồng: @chuong.Key</h3>

        foreach (var dotTiem in chuong.Value)
        {
            <div class="dotTiem">
                <h4>Tên đợt tiêm: @dotTiem.Key</h4>
                <button style="margin-left: 950px;" onclick="markAllInjected(this)">Tất cả đã tiêm</button>
                <table>
                    <tr>
                        <th style="width: 300px;">Mã cá thể</th>
                        <th>Tuổi cá thể (ngày)</th>
                        <th>Ngày tuổi tiêm / Tên đợt tiêm</th> <!-- Thay đổi tiêu đề cột -->
                        <th>Đã tiêm</th>
                    </tr>
                    @foreach (var item in dotTiem.Value)
                    {
                        CaThe caThe = item.Item1;
                        string tenDotTiem = item.Item2;
                        DateTime ngayTuoiTiem = item.Item3;

                        <tr>
                            <td>@caThe.MaCT</td>
                            <td>@caThe.NgayTuoi</td>
                            <td>@tenDotTiem</td> <!-- Hiển thị tên đợt tiêm -->
                            <td>
                                <input type="checkbox" id="@caThe._id" name="caTheIds" value="@caThe._id" data-tenDotTiem="@tenDotTiem" onclick="updateCaTheThuoc(this)">
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
}
else
{
    <p>Không có cá thể cần tiêm chủng.</p>
}

<div style="height: 50px;"></div>

<script>
    // Lưu trạng thái tích vào sessionStorage khi thay đổi checkbox
    var checkboxes = document.getElementsByName("caTheIds");
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", function () {
            sessionStorage.setItem(this.value, this.checked);
            updateCaTheThuoc(this); // Gọi hàm cập nhật thuốc chỉ cho checkbox này
        });

        // Khôi phục trạng thái tích từ sessionStorage khi load lại trang
        var isChecked = sessionStorage.getItem(checkboxes[i].value);
        if (isChecked === "true") {
            checkboxes[i].checked = true;
        } else {
            checkboxes[i].checked = false;
        }
    }

    // Gửi yêu cầu cập nhật thuốc khi thay đổi checkbox
    function updateCaTheThuoc(checkbox) {
        var caTheId = checkbox.value;
        var tenDotTiem = checkbox.getAttribute("data-tenDotTiem"); // Lấy tên đợt tiêm từ thuộc tính dữ liệu
        var isChecked = checkbox.checked;

        $.ajax({
            url: '/HienThiCanTiemChung/UpdateCaTheThuoc',
            type: 'POST',
            data: { caTheId: caTheId, tenDotTiem: tenDotTiem, isChecked: isChecked },
            success: function (result) {
                console.log("Cập nhật thuốc thành công.");
            },
            error: function (xhr, status, error) {
                console.log("Đã xảy ra lỗi: " + error);
            }
        });
    }
    // Đánh dấu tất cả cá thể trong cùng một đợt tiêm là đã tiêm chủng khi click vào button "Tất cả đã tiêm"
    function markAllInjected(button) {
        var dotTiemContainer = button.parentNode;
        var checkboxes = dotTiemContainer.getElementsByTagName("input");

        // Kiểm tra xem tất cả các checkbox có đang được chọn hay không
        var allChecked = true;
        for (var i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                allChecked = false;
                break;
            }
        }

        // Nếu tất cả đã được chọn, hủy chọn tất cả các checkbox và gửi yêu cầu cập nhật
        if (allChecked) {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
                sessionStorage.setItem(checkboxes[i].value, false); // Lưu trạng thái tích vào sessionStorage
                updateCaTheThuoc(checkboxes[i]);
            }
        }
        // Nếu chưa được chọn, chọn tất cả các checkbox và gửi yêu cầu cập nhật
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
                sessionStorage.setItem(checkboxes[i].value, true); // Lưu trạng thái tích vào sessionStorage
                updateCaTheThuoc(checkboxes[i]);
            }
        }
    }
</script>


