@model IEnumerable<Happy_Meat_Farm.Models.CaThe>


@{
    ViewData["Title"] = "Vật Nuôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><h2 style="margin-left: 320px">Thông tin vật nuôi</h2></p>
<div style="margin-left:280px; height: 200px; margin-top:5px" class="daily-report">
    <ul>
        <li>Tổng cá thể: [92]</li>
        <li>Tổng số bầy: [4]</li>
        <li>Số lượng heo giống: [2]</li>
        <li>Số lượng heo con: [40]</li>
        <li>Số lượng heo thịt: [50]</li>
    </ul>
</div>
<div><h3>Danh sách cá thể</h3></div>
<p>
    <a asp-action="Create">Thêm cá thể</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DacDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DacDiem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTuoi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chuong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  Name = item._id }) |
                    @Html.ActionLink("Details", "Details", new {  Name = item._id }) |
                    @Html.ActionLink("Delete", "Delete", new {  Name = item._id })
                </td>
            </tr>
        }
    </tbody>
</table>
