@model Happy_Meat_Farm.Models.CaTheGiong
@{
    ViewData["Title"] = "Chi tiết giống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: none;
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container">
    <h1 class="text-center mt-5 mb-4">Chi tiết cá thể</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Thông tin cá thể</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            ID:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model._id)
                        </dd>
                        <dt class="col-sm-3">
                            Mã cá thể:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.MaCTG)
                        </dd>
                        <dt class="col-sm-3">
                            Ngày nuôi:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NgayNuoi)
                        </dd>
                        <dt class="col-sm-3">
                            Ngày tuổi:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NgayTuoi)
                        </dd>
                        <dt class="col-sm-3">
                            Lần đẻ:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.LanDe)
                        </dd>
                        <dt class="col-sm-3">
                            Lần phối:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.LichSuPhoi)
                        </dd>
                        <dt class="col-sm-3">
                            Tình trạng:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.TinhTrangSucKhoe)
                        </dd>
                        <dt class="col-sm-3">
                            Vị trí chuồng:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ViTriChuong)
                        </dd>
                    </dl>
                </div> 
            </div>
        </div>
    </div>
</div>
<div style="height: 50px;"></div>