
@{
    ViewData["Title"] = "Tổng quan trang trại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
<script src="https://firebase.google.com/docs/web/learn-more#config-object"></script>
<script src="https://firebase.google.com/docs/web/setup#available-libraries"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div style="text-align:center;">
    <div>
        <h2 style="margin-bottom: 10px; color: white; ">Tổng quan trang trại</h2>
    </div>


    <div class="index-container">
        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
        <div class="sochuong box box3" style="background-color: white; color: #800000;">
            <h2>Heo giống</h2>
            <p class="value" style="color:black;">@ViewData["countCathegiong"]</p>
        </div>

        <div class="temperature box box1" style="background-color: white; color: #800000;">
            <h2>Heo con </h2>
            <p class="value" style="color:black;">@ViewData["babyFishCount"]</p>
        </div>

        <div class="revenue box box2" style="background-color: white; color: #800000;">
            <h2>Heo thịt nhỏ </h2>
            <p class="value" style="color:black;">@ViewData["smallFishCount"]</p>
        </div>

        <div class="vatnuoi box box4" style="background-color: white; color: #800000;">
            <h2>Heo thịt lớn</h2>
            <p class="value" style="color:black;">@ViewData["largeFishCount"]</p>
        </div>

        <div style="text-align: center; display: flex; justify-content: center;">
            <div style="width: 50%;">
                <!-- First Daily Report -->
                <div class="daily-report" style="margin-bottom: 20px;">
                    <h3 style="color: #800000;">Thông tin trang trại</h3>
                    <ul>
                        <li>Số nhân viên: @ViewData["Count"]</li>
                        <li>Số lượng chuồng: @ViewData["countBayDan"]</li>
                        <li>Số lượng heo: @ViewData["countTotal"]</li>
                        <li>Số lượng heo giống: @ViewData["countCathegiong"]</li>
                    </ul>
                </div>
            </div>
            <div style="width: 50%;">
                <!-- Second Daily Report -->
                <div class="daily-report">
                    <h3 style="color: #800000;">Lịch tiêm chủng</h3>
                    <table id="lichTiemChungTable">
                        <thead>
                            <tr>
                                <th style="width: 200px;">Tên đợt tiêm</th>
                                <th>Ngày tuổi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lichtiemchung in (IEnumerable<LichTiemChung>)ViewData["lichtiemchungList"])
                            {
                                <tr>
                                    <td>@lichtiemchung.TenDotTiem</td>
                                    <td>@lichtiemchung.NgayTuoiTiem</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <h1>@ViewData["Message"]</h1>
    </div>
</div>
<!--https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<script src="https://firebase.google.com/docs/web/learn-more#config-object"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use-->
<script src="https://firebase.google.com/docs/web/setup#available-libraries"></script>
<!--https://firebase.google.com/docs/web/learn-more#config-object-->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to usehttps://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>

<script>// Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyCiSaknvNYmF3wd578-plD_5NWSA7PyjSY",
        authDomain: "esp8266-database-inventor.firebaseapp.com",
        databaseURL: "https://esp8266-database-inventor-default-rtdb.firebaseio.com",
        projectId: "esp8266-database-inventor",
        storageBucket: "esp8266-database-inventor.appspot.com",
        messagingSenderId: "423165376147",
        appId: "1:423165376147:web:01b7d90369ef89bd5bff66",
        measurementId: "G-6Y0CS5BME0"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var temp = document.getElementById('temp');
    var dbRef = firebase.database().ref().child('TEMPERATURE');
    dbRef.on('value', snap => temp.innerText = snap.val());

    var wet = document.getElementById('wet');
    var dbRef2 = firebase.database().ref('HUMIDITY');
    dbRef2.on('value', snap => wet.innerHTML = snap.val());</script>

<script src="~/js/JavaScript.js"></script>
<script>// Lấy bảng lịch tiêm chủng
    var table = document.getElementById("lichTiemChungTable");

    // Lưu danh sách lịch tiêm chủng vào mảng
    var rows = Array.from(table.getElementsByTagName("tr")).slice(1); // Lấy các hàng trừ tiêu đề
    var lichTiemChungArray = rows.map(function (row) {
        return {
            tenDotTiem: row.cells[0].innerText,
            ngayTuoiTiem: parseInt(row.cells[1].innerText)
        };
    });

    // Sắp xếp lịch tiêm chủng theo ngày tuổi tăng dần
    lichTiemChungArray.sort(function (a, b) {
        return a.ngayTuoiTiem - b.ngayTuoiTiem;
    });

    // Thay thế nội dung bảng với lịch tiêm chủng đã sắp xếp
    rows.forEach(function (row, index) {
        row.cells[0].innerText = lichTiemChungArray[index].tenDotTiem;
        row.cells[1].innerText = lichTiemChungArray[index].ngayTuoiTiem;
    });</script>




